{% if app.user %}
    <a class="mx-2" href="{{ path('app_add_favori', {'id': offre.id, 'url': fromUrl == 'index' ? 'index' : 'show'}) }}">
        <img class="icon" 
        src="{{ offre.users.contains(app.user) 
            ? asset('icons/star.png') 
            : asset('icons/nostar.png') }}"
        {% set favorisLabel = offre.users.contains(app.user)
            ? 'Retirer des favoris'
            : 'Ajouter aux favoris'
        %}
        <img class="icon" 
            src="{{ offre.users.contains(app.user)
            ? 'icons/star.png'
            : 'icons/nostar.png'
            }}" 
            alt="{{ favorisLabel }}" 
            title="{{ favorisLabel }}"
        >
    </a>
{% endif %}

