

{% extends 'base.html.twig' %}

{% block title %}Nouvelle Offre{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">Créer une nouvelle offre</h1>

            <div class="card">
                <div class="card-body">
                    {# {{ include('offre/_form.html.twig') }} #}
                    {{ form_start(form) }}
                    {{ form_row (form.titre, {'label':'Intitulé'})}}
                    {{ form_row (form.category, {'label':'Catégorie'})}}
                    {{ form_row (form.type_contrat, {'label':'Type de contrat'})}}
                    {{ form_row (form.duree, {'label':'Durée'})}}
                    {{ form_row (form.competences, {'label':'Compétences / Formation Attendus'})}}
                    {{ form_rest(form) }}
                    <div class="d-flex align-items-end gap-2 justify-content-end">
                        <button type="submit" class="btn btn-primary">Publier l'offre</button>
                        <a href="{{ path('app_offre_index') }}" class="btn btn-secondary mt-3">
                        Annuler
                        </a>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('duree.js') }}"></script>
{% endblock %}