{% extends 'base.html.twig' %}

{% block title %}Détails de l'Offre
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<h1 class="mb-4">Détails de l'Offre</h1>

				<div class="card">
					<div class="card-body">
						<div class="row mb-3">
							<div class="col-md-4">
								<img src="{{ asset('uploads/' ~ offre.logo) }}" class="offer-image" alt="{{ offre.titre }}" onerror="this.onerror=null; this.src='https://img.logoipsum.com/321.svg';">
							</div>
							<div class="col-md-8 mt-4">
								<h2>{{ offre.titre }}</h2>
								<h6>{{ offre.category.nom }}</h6>
								<hr>
								<p>
									Publié le
									<strong>{{ offre.datePublication ? offre.datePublication|date('d-m-Y') : 'Non définie' }}</strong>
									par l'entreprise :
									<strong>{{ offre.auteur.nom }}{{ offre.auteur.prenom }}{{ offre.auteur.entreprise }}</strong>
								</p>
							</div>
						</div>


						<table class="table table-striped col-12">
							<tbody>
								<tr>
									<th>Lieu</th>
									<td>{{  offre.Lieu }}</td>
								</tr>
								<tr>
									<th>Type de Contrat</th>
									<td>{{ offre.typeContrat.nom }}
										{% if offre.duree %}
											/
											{{ offre.duree }}
										{% endif %}
									</td>
								</tr>
								<tr>
									<th>Salaire</th>
									<td>{{ offre.salaire }}</td>
								</tr>
								<tr>
									<th>Description</th>
									<td>{{ offre.description }}</td>
								</tr>
								<tr>
									<th>Site web</th>
									<td>
										{% if offre.auteur.url|default is not empty and 'http' in offre.auteur.url %}
											<a href="{{ offre.auteur.url }}" target="_blank" rel="noopener noreferrer">{{ offre.auteur.url }}</a>
										{% else %}
											<a href="{{ app.request.uri }}">{{ offre.auteur.url|default('Aucune URL valide') }}</a>
										{% endif %}
									</td>
								</tr>
								{% if offre.datePublication !=  offre.dateModification%}
									<tr>
										<th>Date de modification</th>
										<td>{{ offre.dateModification ? offre.dateModification|date('d-m-Y') : 'Non définie' }}</td>
									</tr>
								{% endif %}
								<div class="mt-3 d-flex justify-content-between gap-2 mb-3">
									<a href="{{ path('app_offre_index') }}" class="btn btn-secondary">Retour à la liste</a>
									<a href="{{ path('app_add_favori', {'id': offre.id}) }}" class="btn  {% if app.user and offre.users.contains(app.user) %}btn-success{% else %}btn-warning{% endif %}">
										{% if app.user and offre.users.contains(app.user) %}
											Retirer des favoris
										{% else %}
											Ajouter aux favoris
										{% endif %}
									</a>
								</div>
							</tbody>
						</table>
						{% if app.user %}
							{% if offre.auteur.id ==  app.user.id %}
								<div class="d-flex  flex-row-reverse gap-2">
									<a href="{{ path('app_offre_edit', {'id': offre.id}) }}" class="btn btn-primary col-2">Modifier</a>
									{{ include('offre/_delete_form.html.twig') }}
								</div>
							{% endif %}
						{% endif %}
					</div>
				</div>


			</div>
		</div>
	</div>
{% endblock %}
