{% extends 'base.html.twig' %}

{% block title %}Profil Utilisateur{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h2 class="mb-0">Profil de {{ app.user.prenom }} {{ app.user.nom }} {{ app.user.entreprise }}</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                    <img src="{{ asset('uploads/' ~ app.user.photo) }}" class="offer-image img-fluid rounded" onerror="this.onerror=null; this.src='https://img.logoipsum.com/321.svg'"                                alt="Photo de {{ app.user.prenom }} {{ app.user.nom }} {{ app.user.entreprise }}"
                                style="height: 70px; object-fit: contain; width: 100%;">
                        </div>
                        <div class="col-md-8">
                            <ul class="list-group list-group-flush">
                            {% if app.user.nom %}
                                <li class="list-group-item">
                                    <strong>Nom :</strong> {{ app.user.nom }}
                                </li>
                                <li class="list-group-item">
                                    <strong>Prénom :</strong> {{ app.user.prenom }}
                                </li>
                                <li class="list-group-item">
                                    <strong>Date de naissance :</strong> {{ app.user.dateNaissance|date('d/m/Y') }}
                                </li>
                            {% else %}
                                <li class="list-group-item">
                                    <strong>Entreprise :</strong> {{ app.user.entreprise }}
                                </li>
                                <li class="list-group-item">
                                    <strong>Site Web :</strong> {{ app.user.url }}
                                </li>
                            {% endif %}
                                <li class="list-group-item">
                                    <strong>Email :</strong> {{ app.user.email }}
                                </li>
                                <li class="list-group-item">
                                    <strong>Adresse :</strong> {{ app.user.adresse }}
                                </li>
                                <li class="list-group-item">
                                    <strong>Téléphone :</strong> {{ app.user.tel }}
                                </li>
                                <li class="list-group-item">
                                    <strong>Statut :</strong> {{ app.user.statut.nom }}
                                </li>
                                <li class="list-group-item">
                                    <a href="{{ path('app_user_edit', {'id': app.user.id}) }}">Edit</a>                                
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}